body {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.section {
  background-color: rgba(225, 225, 225, 0.2);
  height: 30vh;
}

.main-image {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 -6px;
}

.main-image-words {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  font-size: 48px;
}

.form {
  height: auto;
}